header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2000;
    nav {
        height: 90px;
        width: 100%;
        background-color: rgba($color-principal,0.98);
        border-bottom: 6px solid $color-secundario;
        position: fixed;
        .logo-contenedor {
            position: absolute;
            margin-left: 30px;

            .logo {
                height: auto;
                display: inline-block;
                line-height: 90px;
            }
        }

        ul {
            float: right;
            height: 90px;
            margin: 0;
            li {
                display: inline-block;
                line-height: 90px;
                height: 90px;
                margin: 0;
                .boton-activado {
                    color: $color-secundario;
                }
                a {
                    &::before,
                    &::after {
                        content: "♡";
                        display: inline;
                        height: 90px;
                        overflow: hidden;
                        transition:transform .1s .2s;
                    }
                    &::after {
                        content: "♡";
                    }
                    color: #fff;
                    font-size: 18px;
                    padding: 0 20px;
                    border-radius: 3px;
                    text-transform: uppercase;
                    display: flex;
                    &:hover{
                        color: $color-secundario;
                        &::before{
                            content: "♡";
                            display: inline-block;
                            transform: translateX(-.7rem);
                        }
                        &::after {
                            content: "♡";
                            display: inline-block;
                            transform: translateX(.7rem);
                        }
                    }
                }
            }
        }
        
    }
    .checkbtn {
        font-size: 30px;
        color: #ffffff;
        float: right;
        line-height: 90px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
}