.pagina {
    .formularioComida {
        padding: 20px;
        border-radius: 5px;
        max-width: 1300px;
        margin: auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: $color-fondo;
        border-radius: 30px;
        box-shadow: 0px 0px 60px #a845ff;
        border: 1px solid $color-secundario;

        h2 {
            text-align: center;
            padding-bottom: 25px;
            font-size: 2.5rem;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 1.7rem;
        }

        input,
        select {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
            border: 3px solid $color-fondo;
        }

        .boton-agregar {
            display: block;
            margin: auto;
            background-color: $color-secundario;
            color: white;
            padding: 15px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1.4rem;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
                background-color: #f96fe0;
            }
        }
    }

    .promedios {
        padding: 3rem;
        text-align: center;
        color: #ffffff;
        font-size: 2.5em;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;

        p {
            padding: 2rem 0;

            span {
                display: block;
            }
        }
    }

    .titulo-tablacomidas {
        font-size: 3rem;
        text-align: center;
    }

    .tabla-registroDeComidas {
        margin-bottom: 2rem;
        width: 100%;
        max-width: 1100px;
        margin: auto;
        padding: 4rem 0;

        .hr-comidas {
            border-radius: 200px;
            height: 3px;
            background-color: $color-secundario;
            border: none;
            border-radius: 200px;
            width: 100%;
            display: block ;
            margin-left: auto !important;
            margin-right: auto !important;
            width: 50% !important;
            box-shadow: 0px 0px 10px $color-secundario;
            margin: 3rem 0;
        }

        .section-fecha {
            padding: 2rem 4rem;
            border: 1px solid $color-secundario;
            border-radius: 60px;
            box-shadow: 0px 0px 60px #a845ff;
            background-color: #8758b0;

            .section-Comidas {
                position: relative;
            }

            margin:0 !important;
            text-align: left;

            h3 {
                text-align: center;
                font-size: 2.3rem;
                margin-bottom: 20px;
            }

            .btnEliminar {
                position: absolute;
                top: 66px;
                right: -25px;
                background: none;
                border: none;
                cursor: pointer;
                padding: 0.32rem;
                background-color: $color-fondo;

                i {
                    color: $color-secundario;
                    font-size: 1.5rem;
                }
            }

            table {
                width: 100%;

                th,
                td {
                    border: 2px solid $color-principal;
                    padding: 8px;
                    text-align: left;
                }

                th {
                    background-color: $color-fondo;
                }
            }
        }
    }
}