main {
    max-width: 2000px;
    height: auto;
    width: auto;
    margin: auto;
    margin-bottom: 8%;

}

.pagina {
    padding-top: 10vh;
    width: 80vw;
    max-width: 2000px;
    height: auto;
    margin: auto;
}